.carousel-inner img {
  width: 100%;
  height: 100%;
}

header, main, footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.floatright {
  float: right;
  width: 200px;
  height: auto;
}

.clearright {
  clear: right;
}
